@import url('https://fonts.googleapis.com/css?family=Raleway');



body {
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url("gymi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway';
    text-align: center;
    color: navy;
    font-weight: bold;
}

div.transbox {
    
    border:1px solid navy;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:rgba(255, 255, 255, 0.70);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;    
}

button {
    border-bottom-style: groove;
    border: 1px solid navy;
    color: navy;
}